<h1>Editing gender label</h1>

<%= render "form", gender_label: @gender_label %>

<br>

<div>
  <%= link_to "Show this gender label", @gender_label %> |
  <%= link_to "Back to gender labels", gender_labels_path %>
</div>
