<h1>Thea Sky Barnes</h1>
<h2>Open source advocate, professional programmer, stressed mama, and wildly unsuccessful yoga enthusiast.</h2>
<div class="gender">
  <%= render GenderLabel.all %>
</div>
<div class="sexuality">
  <%= render SexualityLabel.all %>
</div>
<div class="links">
  <%= render Link.all %>
</div>
